.git
.github
.pytest_cache
.ruff_cache
__pycache__
*.pyc
.env
yolo_env
venv
.venv
football_analysis/input_videos/*
football_analysis/output_videos/*
football_analysis/stubs/*
static/uploads/*
static/outputs/*
models/*
runs
datasets
*.pt
*.onnx
*.engine
